* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}
body {
    background-color: whitesmoke;
    margin-top: 100px;
}
main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}
.card-container {
    background-color: white;
    width: 300px;
    border-radius: 10px;
    overflow: hidden;
    img {
        width: 100%;
        height: 223px;
    }
    .card-info {
        padding: 17px;
        .card-body {
            .level {
                display:flex ;
                justify-content: space-between;
                i {
                    color: rgb(233, 72, 72);
                }
                p {
                    background-color: #f1ecf9;
                    color: #611BF2;
                    padding:4px 8px;
                    border-radius: 5px;
                }
            }
            .title {
                margin-top: 15px;
                h2 {
                    color: #34393d;
                    font-weight: normal;
                    margin-bottom: 10px;
                }
                p {
                    color: #929397;
                }
            }
            .rating1 {
                display: flex;
                gap: 10px;
            }
        }
          hr {
                margin: 12px 0;
            }
            .card-footer {
                display:flex;
                justify-content: space-between;
            span {
                display: flex;
                gap: 5px;
                &:first-child {
                    i {
                        color: hotpink;
                    }
                }
                 &:last-child {
                    i {
                        color: orangered;
                    }
                }
            }           
         }
    }


}
